body {
  background-color: white;
  text-align: center;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  #logo {
  /*font-size-base: 14px;*/
  height: 50px;
  width: 270px;
  margin: 0px;
  }
  #welcome {
  font-size: 3em;
  }

  div.boxed {
    margin-top: 30px;
    display: inline-block;
    border: solid black 1px;
    padding-top: 10px;
    padding-bottom: 30px;
    width: 100%;
    h3 {
    margin: 0px;
    }
    button {
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
    width: 90%;
    }
  }
}




