.user-info {
  text-align: left;
  .prodiv {
    text-align: center;
    padding: 0px;
    .propic {
      padding: 0px;
      height: 80px;
      width: 80px;
      margin: 5px 5px 10px 5px;
      border: 1px solid #3f4249;
      box-shadow: 0px 0px 2px black;
    }
  }
  .user-name {
    background-color: white;
    float:left;
    width: 87%;
    /*MAKE ADJUSTABLE IF LONG NAME!!!*/
    padding: 5px 10px;
    border: 1px solid #3f4249;
    box-shadow: 0px 0px 2px black;
    &:focus {
      outline:0 !important;
    }
  }
  .edit-icon {
    float:left;
    margin-top:35px;
    margin-left:5px;
    opacity: .4;
    &:hover {
      opacity: 1.0;
    }
  }
}

.clear-fix {
  content: "";
  display: table;
  clear: both;
}







