
  <div id="footer">
    <div class="navbar-inverse navbar-fixed-bottom">
    <div class="row" id="bottomNav">
      <a class="col-xs-4 text-center" href="/users/1"><i class="glyphicon glyphicon-user"></i><br>Profile</a>
      <a class="col-xs-4 text-center" href="/lobby"><i class="glyphicon glyphicon-pawn"></i><br> Game Lobby</a>
      <a class="col-xs-4 text-center" href="/settings"><i class="glyphicon glyphicon-cog"></i><br> Settings</a>
    </div>
    </div>
  </div>

  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>

</html>