<div class="row">
      <div class="col-lg-12 col-width">

      <% for (let games in gameList) { %>
        
        <div class="queue-item">
          <div class="col-lg-4 game-owner-col">
            <span id="game-owner">Jack Bauer</span>
          </div>
          <div class="col-lg-4 game-name-col">
            <span id="game-name">Goofspiel</span>
          </div>
          <div class="col-lg-2 num-players-col">
            <span id="num-players"><%= gameList[games].players %>/3</span>
          </div>
          <div class="col-lg-2 join-col">
            <a class="join btn btn-primary" href="#">Join</a>
          </div>
        </div> <!-- closes queue-item -->

      <% } %>
      </div> <!-- closes col-lg-12" -->
    </div>