<!DOCTYPE html>
<html>
  <% include ./partials/_head.ejs %>
  
  <body>

    <h1>Riki's GOPS Game</h1>

      <div class="prize-card" data-prize="4">
        4
      </div>

      <div class="btn-group">
        <% for (let i = 0; i < playerHand.length; i++) { %>
          <button class="btn btn-default"><%= i + 1 %></button>
        <% } %>
      </div>
  </body>

</html>