<!DOCTYPE html>
<html>
  <% include ./partials/_head.ejs %>
  
  <body class="container">

    <h1>Riki's GOPS Game</h1>
      <div class="row">
        <div class="col-md-5 col-xs-1"></div>
        
        <div class="playingCards col-md-2 col-xs-10">
          <ul class="deck">
          <% for (let i = 0; i < playerHand.length; i++) { %>
            <li>
              <div class="card back"></div>    
            </li>
          <% } %>
            <li>
              <a class="card rank-<%= playerHand[4] %> sp">
                <div class="rank"><%= playerHand[4] %></div>
                <div class="suit">&diams;</div>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-xs-1"></div>
        <div class="col-md-4 col-xs-10">
          <div class="playingCards faceImages">
            <ul class="table">
              <% for (let i = 0; i < playerHand.length; i++) { %>

                  <% include ./partials/_playingCard.ejs %>
              <% } %>
            </ul> 
          </div>
        </div>
      </div>
  </body>

</html>