<!DOCTYPE html>
<html>
  <% include ./partials/_head.ejs %>


    <% if (message.length > 0) { %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% } %>



    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6 middle-screen">
      <% include ./partials/_header.ejs %>
      <p id="welcome">Welcome to git.DEALT!</p>
      <p>A web app that allows players to play various card games against other players.</p>
        <div class="boxed">
          <h3>Wanna play?</h3>
          <h5>Sign up!</h5>
            <div>
              <a href="/auth/facebook">
                <button class="btn btn-primary btn-lg btn-block fb-button" type="submit">
                  <span class="fa fa-facebook"></span>
                  Login with Facebook
                </button>
              </a>

          </div>
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>
</body>

</html>

