<!DOCTYPE html>
<html>
  <% include ./partials/_head.ejs %>
  <% include ./partials/_header.ejs %>
  <div id="user-info col-lg-2"></div>
  <div class="col-lg-8">
    <img class="propic" src=#>

    <h2 class="user-name" contenteditable="true">Billy Joel<h2>

  </div>
  <div id="col-lg-2"></div>





  <% include ./partials/_queue-box.ejs %>

  <% include ./partials/_footer.ejs %>
</html>