<!DOCTYPE html>
<html>
  <% include ./partials/_head.ejs %>
  <% include ./partials/_header.ejs %>
  <div class="user-info">
  <div class="col-lg-2"></div>
  <div class="col-lg-8"">

    <img class="propic col-lg-3" src=http://lorempixel.com/70/70/>

    <h2 class="user-name col-lg-6">Billy Joel<h2>
    <!-- <p class="edit-icon col-lg-2">hhh</p> -->
    <span class="glyphicon glyphicon-edit edit-icon"></span>

  </div>
  <div class="col-lg-2"></div>
  </div>

  <% include ./partials/_queue-box.ejs %>

  <% include ./partials/_footer.ejs %>
</html>

<!-- HELPPPPPPPP -->