#submit-card {
  padding-top: 30px; }

#bets {
  margin-top: 120px;
}

#hand {
  margin-top: 3em;
}

body {
  background-color: #0a7; }

.selected .card {
  border: 5px solid #af0000; }

@media (max-width: 700px) {
  #hand {
    position: absolute;
    left: 1.45em;
    right: 2em;
    bottom: 4em;
  }
}

@media (max-width: 700px) and (orientation: landscape) {
  #bets {
    display: inline;
  }

  .deck {
    display: inline;
  }

  #submit-card {
    display: inline;
    margin-top: -100px
  }
}