body h2 {
  font-size: 24px;
  margin-top: 12px;
  margin-bottom: 12px; }

body .boxed-options {
  background-color: white;
  border: 1px #3f4249 solid;
  box-shadow: 0px 0px 2px black;
  padding-top: 20px;
  padding-bottom: 20px; }
  body .boxed-options select {
    margin-top: 7px;
    margin-bottom: 7px; }
  body .boxed-options .playbtn {
    margin-top: 15px;
    margin-bottom: 5px;
    box-shadow: 0px 0px 1px black; }
