body h2 {
  font-size: 25px;
  margin-top: 15px;
  margin-bottom: 15px; }

body .boxed-options {
  border: 1px black solid;
  padding-top: 20px;
  padding-bottom: 20px; }
  body .boxed-options select {
    margin-top: 7px;
    margin-bottom: 7px; }
  body .boxed-options .playbtn {
    margin-top: 15px;
    margin-bottom: 5px; }
