body {
  background-color: white;
  text-align: center;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }
  body #pgname {
    /*font-size-base: 14px;*/
    font-size: 4em;
    margin: 0px; }
  body #welcome {
    font-size: 3em; }
  body div.boxed {
    margin-top: 30px;
    display: inline-block;
    border: solid black 1px;
    padding-top: 10px;
    padding-bottom: 30px;
    width: 100%; }
    body div.boxed h3 {
      margin: 0px; }
    body div.boxed button {
      margin-bottom: 10px;
      margin-right: auto;
      margin-left: auto;
      width: 90%; }
