.btn {
  color: #363A43;
  background-color: #ffee00;
  border-color: #363A43;
  box-shadow: 0px 0px 1px black; }
  .btn:hover {
    color: #363A43;
    background-color: #e0d102;
    border-color: #363A43;
    box-shadow: 0px 0px 1px black; }

.create-new-btn {
  margin-bottom: 50px; }

.queue-box {
  background-color: #a4dff4;
  border: #3f4249 solid 1px;
  height: 350px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 2px black; }
  .queue-box .col-width {
    padding: 0px; }
    .queue-box .col-width .queue-item {
      background-color: #6DCFF2;
      border: 1px solid #3f4249;
      box-shadow: 0px 0px 2px black;
      margin: 7px 7px 2px 7px;
      height: 75px;
      display: flex;
      align-items: center;
      justify-content: center; }
      .queue-box .col-width .queue-item #game-owner {
        font-size: 22px; }
      .queue-box .col-width .queue-item #game-name {
        font-size: 18px; }
