.navbar-fixed-bottom .btn-group {
  width: 100%; }

#bottomNav a {
  padding: 5px 0;
  border-right: 1px solid #555;
  border-top: 1px solid #555; }

#bottomNav a:first-of-type {
  border-left: 1px solid #555; }

#topNav {
  padding: 10px;
  color: #ddd;
}