.user-info {
  text-align: left; }
  .user-info .prodiv {
    text-align: center;
    padding: 0px; }
    .user-info .prodiv .propic {
      padding: 0px;
      height: 80px;
      width: 80px;
      margin: 5px; }
  .user-info .user-name {
    float: left;
    width: 87%;
    /*MAKE ADJUSTABLE IF LONG NAME!!!*/
    padding: 5px 10px;
    border: 1px solid black; }
    .user-info .user-name:focus {
      outline: 0 !important; }
  .user-info .edit-icon {
    float: left;
    margin-left: 7px;
    opacity: .4; }
    .user-info .edit-icon:hover {
      opacity: 1.0; }

.clear-fix {
  content: "";
  display: table;
  clear: both; }
